/* common style */
html {
  height: 100%;
}

body {
  background-color: #1C2936;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: 100;
  height: 100%;
  position: relative;
}

#react-root {
  height: 100%;
}

#react-root > div {
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-style {
  border-style: none;
  border: 1px solid #18A3BC;
  border-radius: 10px;
  padding: 15px 40px;
  width: 250px;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.button-style:disabled {
  border-color: #5C5C5C;
}

.input-style {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  outline: 0;
  color: #fff;
  font-size: 16px;
  width: 250px;
  padding: 5px;
  margin-top: 36px;
  background: none;
}

.positon {
  position: relative;
}

/* Sign in Page */

.sign-in-center {
  margin-top: 90px;
}

.forgot-password {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  color: #18A3BC;
  margin: 5px 0 30px 0;
}

.sign-in-box {
  width: 250px;
  margin: 24px 0 0 0;
}

.sign-in-box .sign-in-message {
  color: #fff;
  margin-right: 15px;
}

.sign-in-box .sign-in-link {
  color: #18A3BC;
}

/* Register Page */

.register-center {
  margin-top: 105px;
}

.register-button {
  position: absolute;
  bottom: 90px;
}

/* Enroll Account Page */

.enroll-center {
  padding-top: 65px;
}

.country-drop-down select {
  width: 250px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  appearance: none;
  -webkit-appearance: none;
}

.enroll-button {
  position: absolute;
  bottom: 90px;
}

/* Top */

.top-box {
  width: 300px;
  height: 150px;
  text-align: center;
  margin: 118px auto 180px auto;
}

.top-box h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5em;
  letter-spacing: .06em;
  margin: 0;
}

.top-box h3 {
  color: #CCFFFB;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .06em;
  margin-top: 30px;
}

.top-button {
  text-align: center;
  position: absolute;;
  bottom: 90px;
  left: 0;
  right: 0;
}

.top-button-padding {
padding: 20px 90px;
}

/* Button register Page */

.button-register-center {
  margin-top: 70px;
}

.button-register-margin {
  margin-top: 10px;
}

.receive-button {
  text-align: center;
  margin: 100px 0 0 0;
}

.receive-button-padding {
  padding: 20px 90px;
}

/* Forgot password Page */

.forgot-password-center {
  margin-top: 90px;
}

.forgot-password-button {
  margin: 300px 0 30px 0;
}

/* Reset password page */

.reset-password-center {
  padding-top: 65px;
}

.reset-password-button {
  margin: 120px 0 30px 0;
}

/*slider*/
.slider-font {
  color: #fff;
  background-color: #373a47;
  border: 0px;
  font-size: 1.15em;
}
/* Error 404 page*/
.error-404-page{
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.error-img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 300px;
  height: 150px;
}

/*Add photon page*/


/*Add photon page*/
.form-control-top {
  margin: 100px 0 20px 0;
}

.add-photon-button {
  margin-top: 40px;
}

